<%- include('templates/header', { title, homeClass, homeExtraAttributes, memberClass, memberExtraAttributes, adminClass, adminExtraAttributes }) %>

<%- body %>

<%- include('templates/footer', {}) %>

</body>
</html>