<%- include('templates/header', { title, homeClass, homeExtraAttributes, memberClass, memberExtraAttributes, adminClass, adminExtraAttributes }) %>

<div class="container mt-5">
  <div class="row g-4">
    <div class="col-12 col-md-4">
      <div class="card">
        <img 
          src="/image/catsideeye.jpg" 
          class="card-img-top img-fluid" 
          alt="Cat looking sideways"
        >
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <img 
          src="/image/dogsideeye.jpg" 
          class="card-img-top img-fluid" 
          alt="Dog looking sideways"
        >
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <img 
          src="/image/monkeysideeye.jpg" 
          class="card-img-top img-fluid" 
          alt="Monkey looking sideways"
        >
      </div>
    </div>
  </div>
</div>

<%- include('templates/footer', {}) %>

</body>
</html>